

.container.responsivegrid {
    max-width: unset!important;
    padding-left: unset!important;
    padding-right: unset!important;
}
main.container {
    padding: 0!important;
}

.section.categories .aem-Grid.aem-Grid--12.aem-Grid--default--12{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section.categories .aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--default--2{
    width: calc(20% - 24px);
    padding-left: 12px;
    padding-right: 12px;
    float: none;
}
